h1 {
 color: rgb(15, 15, 15);
 
 font-family: sans-serif;
 text-shadow: 5px 5px 10px rgb(32, 5, 59) ;
}
.one {
  font-family: "Lorem ipsum dolor",serif;
  color: blueviolet;
}
.two {
  font-family: "Ex laboriosam",cursive;
  color: blueviolet;
}
#number {
  font-family: monospace;
  color: blueviolet;
}
#first {
  font-family: fantasy;
  color: blueviolet;
}

